@import "tailwindcss";

@theme {
  --color-terminal-green: #00ff41;
  --color-terminal-blue: #0099ff;
  --color-dark-bg: #0a0a0a;
  --color-card-bg: #1a1a1a;
  --color-border-gray: #333333;

  /* Font Families */
  --font-mono: "Courier New, monospace";

}
